<% provide(:title, "Log in") %>
<%if flash.now[:message]%>
  <p><%= flash.now[:message] %>
<%end%>
<h1>Please Log In</h1>

    <%= form_for(:session, url: login_path) do |f| %>

      <p><%= f.label :username %>:
      <p><%= f.text_field :username%>

      <p><%= f.label :password %>:
      <p><%= f.password_field :password%>

      <p><%= f.label :remember_me do %>
      <p><%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>



      <p><div><%= f.submit "Log in"%>
    <% end %>

    <p>New to the app? <%= link_to "Sign up!", signup_path %></p>
