<% provide(:title, "Log in") %>
<h1>Log in</h1>

    <%= form_for(:session, url: login_path) do |f| %>

      <p><%= f.label :username %>:
      <p><%= f.text_field :username%>

      <p><%= f.label :password %>:
      <p><%= f.password_field :password%>

      <%if flash.now[:message]%>
        <p><%= flash.now[:message] %>
      <%end%>

      <p><div><%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up!", signup_path %></p>
