<% provide(:title, "Log in") %>
<%if flash.now[:message]%>
  <p class="flash"><%= flash.now[:message] %>
<%end%>

<h2 class="users">Please Log In</h2>


    <%= form_for(:session, url: login_path) do |f| %>

      <h3 class="users"><%= f.label :username %>:</h3>
      <p><%= f.text_field :username%>

      <h3 class="users"><%= f.label :password %>:</h3>
      <p><%= f.password_field :password%>

      <h3 class="users"><%= f.label :remember_me do %></h3>
      <p><%= f.check_box :remember_me %>
        <span class="users">Remember me on this computer</span>
      <% end %>



      <p><div><%= f.submit "Log in"%>
    <% end %>

    <p class="users">New to the app? <%= link_to "Sign up!", signup_path %></p>
