<h1>Update Your Profile<h1>
  <h3>

  <%= form_for @user do |f| %>
  <p><%= f.label :first_name %>:
  <p><%= f.text_field :first_name %><br />

  <p><%= f.label :last_name %>:
  <p><%= f.text_field :last_name %><br />

  <p><%= f.label :username %>:
  <p><%= f.text_field :username %><br />

  <p><%= f.label :email %>:
  <p><%= f.email_field :email %><br />

  <p><%= f.label :bio %>:
  <p><%= f.text_area :bio %><br />

  <%#<p><%= fields_for :avatar do |user_avatar| %><br />
  <%# <p><%= f.label :avatar %>:
  <%# <p><%= button_to "Change Avatar", edit_user_path(@user), method: :post%>
  <%#<%end%>

  <% if @user.errors.any? %>
    <div>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <%end%>

  <p><%= f.submit "Update Profile" %>
<% end %>
</h3>
