<h1>Update Your Profile<h1>
  <h2>

  <%= form_for @user do |f| %>
  <%= f.label :first_name %>:
  <%= f.text_field :first_name %><br />

  <%= f.label :last_name %>:
  <%= f.text_field :last_name %><br />

  <%= f.label :username %>:
  <%= f.text_field :username %><br />

  <%= f.label :email %>:
  <%= f.email_field :email %><br />

  <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">Change</a>

  <% if @user.errors.any? %>
    <div>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <%end%>

  <p><%= f.submit "Submit" %>
<% end %>
</h2>
