<h2 class="users">Update Your Profile</h2>


  <%= form_for @user do |f| %>
  <h3 class="users"><%= f.label :first_name %>:</h3>
  <p class="users"><%= f.text_field :first_name %></p>

  <h3 class="users"<%= f.label :last_name %>:</h3>
  <p><%= f.text_field :last_name %><br />

  <h3 class="users"<%= f.label :username %>:</h3>
  <p><%= f.text_field :username %><br />

  <h3 class="users"<%= f.label :email %>:</h3>
  <p><%= f.email_field :email %><br>

  <h3 class="users"<%= f.label :bio %>:</h3>
  <p><%= f.text_area :bio %><br>

  <%#<p><%= fields_for :avatar do |user_avatar| %>
  <h3 class="users"><%= f.label :avatar %>:</h3>
  <p><%= button_to "Change Avatar", edit_user_path(@user), method: :post%>

  <%#<%end%>

  <% if @user.errors.any? %>
    <div>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <%end%>

  <p><%= f.submit "Update Profile" %>
<% end %>
