<h2 class="users">Users</h2>
  <ul>
    <% @users.each do |user|%>
      <%if user.id != current_user.id %>
        <p> <%=image_tag "#{user.avatar}"%><br>
            <%=link_to user.username, user_path(user)%>

              <% if !current_user.active_follows_ids.include?(user.id) %>
                 <%= button_to "Follow", follows_path(:id => user.id), method: :post %>
               <%else%>
                 <%= form_for current_user.active_follows.find_by(followed_id: user.id),
                              html: { method: :delete } do |f| %>
                   <%= f.submit "Unfollow" %>
                 <% end %>
            <%end%>
      <%end%>
    <%end%>
  <ul>
<p><%= button_to "Return to My Profile", user_path(current_user), method: :get%></h3>
