<h1 class="users">New User<h1>
  <h3>

  <%= form_for @user do |f| %>
  <p><%= f.label :first_name %>:
  <p><%= f.text_field :first_name %><br />

  <p><%= f.label :last_name %>:
  <p><%= f.text_field :last_name %><br />

  <p><%= f.label :username %>:
  <p><%= f.text_field :username %><br />

  <p><%= f.label :email %>:
  <p><%= f.email_field :email %><br />

  <p><%= f.label :password %>:
  <p><%= f.password_field :password %><br />

  <h3 class="users"> Tell us about yourself! </h3>
  <p><%= f.label :bio %>:
  <p><%= f.text_area :bio %> <br />

  <% if @user.errors.any? %>
    <div>
      <ul class="users">
      <% @user.errors.full_messages.each do |message| %>
        <li class="users"  ><%= message %></li>
      <% end %>
      </ul>
    </div>
  <%end%>

  <p><%= f.submit "Create Profile" %>
<% end %>
