<h1>New User<h1>
  <h3>

  <%= form_for @user do |f| %>
  <p><%= f.label :first_name %>:
  <p><%= f.text_field :first_name %><br />

  <p><%= f.label :last_name %>:
  <p><%= f.text_field :last_name %><br />

  <p><%= f.label :username %>:
  <p><%= f.text_field :username %><br />

  <p><%= f.label :email %>:
  <p><%= f.email_field :email %><br />

  <p><%= f.label :password %>:
  <p><%= f.password_field :password %><br />

  <% if @user.errors.any? %>
    <div>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <%end%>

  <p><%= f.submit "Create Profile" %>
<% end %>
</h3>
