<% provide(:title, @user.full_name) %>
<h3>
  <p><%= gravatar_for @user, size: 35 %>
  <%= @user.full_name %>
  <p><%= @user.email %>

    <%# change to current_user(user) after debug else without rescue #%>
  <% if logged_in? %>
    <p><%= link_to "Log out", logout_path, method: :delete %>
    <p><%= button_to "Update profile", edit_user_path(@user), method: :get %>
    <p><%= button_to "Delete profile", @user, method: :delete, data: { confirm: "Are you sure?"} %>
  <% else %>
    <p><%= link_to "Log in", login_path, method: :get %>
  <% end %>

</h3>
