<% provide(:title, @title) %>
      <%=image_tag "#{@user.avatar}"%>
      <h3>My <%= @title%></h3>
      <%#<p><%= link_to "view my profile", @user %>
      <%#<p><b>Favorite Podcasts:</b> <%= @user.podcasts.count %>

      <% if @users.any? %>
        <div>
          <ul>
          <h3><%=@users.count%> <%= @title%>:</h3>
          <% @users.each do |user| %>

            <%=image_tag "#{user.avatar}"%>
                <h2><%= user.username %></h2>
                  <% user.podcasts.each do |user_podcast|%>
                  <p> <%= link_to user_podcast.title, podcast_path(user_podcast.id)%>
                  <%end%>

                <% if !current_user.active_follows_ids.include?(user.id) %>
                  <p><%= button_to "Follow Back!", follows_path(:id => user.id), method: :post %>
                <%else%>
                  <%= form_for current_user.active_follows.find_by(followed_id: user.id),
                               html: { method: :delete } do |f| %>
                    <%= f.submit "Unfollow" %>
                  <% end %>
                <% end %>

          <% end %>
            <ul>
          </div>
      <% else %>
        No Followers Yet!
      <% end %>

    <p><%= button_to "Return to My Profile", user_path(current_user), method: :get%>
