<% provide(:title, @title) %>
      <%= baccano_for @user, size: 30 %>
      <h3><%= @user.full_name %>'s <%= @title%></h3>
      <%#<p><%= link_to "view my profile", @user %>
      <%#<p><b>Favorite Podcasts:</b> <%= @user.podcasts.count %>

      <% if @users.any? %>
        <div>
          <ul>
          <h3><%=@users.count%> <%= @title%>:</h3>
          <% @users.each do |user| %>
            <li><%= link_to baccano_for(user, size: 20), user %>
                <%= user.full_name %>
                <% if @title == "Following" %>
                <%# unfollow button or follow back button depending on followers/following%>
                  <p><%= button_to "Unfollow", follow_path(:id => @user.id), method: :delete %>
                <% end %>
                <% if @title == "Followers" %>
                  <p><%= button_to "Follow Back!", follows_path(:id => @user.id), method: :post %>
                <% end %>
          <% end %>
            <ul>
          </div>

    <p><%= button_to "Return to My Profile", user_path(current_user), method: :get%>
      <% end %>
