<% if flash[:message] %>
  <h2><p><%= flash[:message] %></h2>
<%end%>

<%# BASIC PROFILE DISPLAY %>
<% if @user.id == current_user.id  %>
  <h3> My Profile </h3>
<% else %>
  <h3><%="#{@user.username.upcase}"%></h3>
<%end%>
    <p><%= baccano_for @user, size: 35 %>
    <%= @user.full_name %>
    <p>E-mail: <%=mail_to @user.email %>

    <p> <a href="<%= following_user_path(@user) %>">
        <%= @user.following.count %>
      following
    </a> |
    <a href="<%= followers_user_path(@user) %>">
        <%= @user.followers.count %>
      followers
    </a>


<%# FOLLOWED PODCAST DISPLAY %>

    <ul>
      Favorite Podcasts:
    <% if @user.podcasts.length == 0%>
      None yet! Get listening!
    <%end%>
    <%@user.podcasts.each do |podcast|%>
    <p><%=link_to podcast.title, podcast_path(podcast.id)%>
    <%end%>
    </ul>


  <%# LINKS TO %>

    <p><h3><%= link_to "See all Podcasts", podcasts_path, method: :get%>
    <p><%= link_to "See all Users", users_path, method: :get%>

      <%# change to current_user(user) after debug else without rescue
          current_user(user) isn't doing anything, hence else w/out rescue#%>
    <% if @user.id == current_user.id  %>
      <p><%= link_to "Log out", logout_path, method: :delete %>
      <p><%= button_to "Update profile", edit_user_path(@user), method: :get %>
      <p><%= button_to "Delete profile", @user, method: :delete, data: { confirm: "Are you want to delete your profile?"} %>


     <% else %>
      <%# if current_user doesn't follow @user%>
      <% if current_user.followers.include?(@user)%>
           <%#see user.rb for method %>
        <p><%= button_to "Follow", follows_path(:id => @user.id), method: :post %>
      <% else %>
      <%# if current_user follows @user%>
        <p><%= button_to "Unfollow", follow_path(:id => @user.id), method: :delete %>

      <%end%>
      <p><%= button_to "Return to My Profile", user_path(current_user), method: :get%>
    <% end %>


  </h3>
