<% provide(:title, @user.full_name) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.full_name %>
  <%= @user.email %>

  <% if logged_in? %>
    <%= link_to "Log out", logout_path, method: :delete %>
  <% else %>
    <%= link_to "Log in", login_path, method: :get %>
  <% end %>


</h1>
