<% if flash[:message] %>
  <p class="flash"><%= flash[:message] %></p>
<%end%>

<%# BASIC PROFILE DISPLAY %>
<% if @user.id == current_user.id  %>

  <h2 class="users"> My Profile </h2>
<% else %>
  <h2 class="users"><%="#{@user.username.upcase}"%></h2>

<%end%>

<body class="users">
    <p><%=image_tag "#{@user.avatar}"%><br>
    <%= @user.full_name %>
    <h3 class="users"> Bio:</h3> <%= @user.bio %>
    <h3 class="users">E-mail:</h3> <%=mail_to @user.email %>




    <p><a href="<%= following_user_path(@user) %>">
        <%= @user.following.count %>
      following
    </a> |
    <a href="<%= followers_user_path(@user) %>">
        <%= @user.followers.count %>
      followers
    </a>


<%# FOLLOWED PODCAST DISPLAY %>

    <ul class="users" >
      <h3 class="users" >Favorite Podcasts:</h3>
    <% if @user.podcasts.length == 0 %>
        <% if current_user.id == @user.id %>
          None yet! Get listening!
        <%end%>
    <%end%>
    <%@user.podcasts.each do |podcast|%>
    <p><%=link_to podcast.title, podcast_path(podcast.id)%>
    <%end%>
    </ul>


  <%# LINKS TO %>

    <% if @user.id == current_user.id  %>
      <p><%= link_to "Log out", logout_path, method: :delete %>
      <p><%= button_to "Update profile", edit_user_path(@user), method: :get %>
      <p><%= button_to "Delete profile", @user, method: :delete, data: { confirm: "Are you sure you want to delete your profile?"} %>
      <p><%= button_to "Change Avatar", change_avatar_path(@user), method: :post%>

     <% else %>
      <%# if current_user doesn't follow @user%>
      <% if current_user.followers.include?(@user)%>
           <%#see user.rb for method %>
        <p><%= button_to "Unfollow", follow_path(:id => @user.id), method: :delete %>
      <% else %>
      <%# if current_user follows @user%>
        <p><%= button_to "Follow", follows_path(:id => @user.id), method: :post %>
      <%end%>
      <p><%= button_to "Return to My Profile", user_path(current_user), method: :get%>
    <% end %>



</body>
