<% provide(:title, @title) %>
      <%= baccano_for @user, size: 30 %>
      <h3>My <%= @title%></h3>
      <%#<p><%= link_to "view my profile", @user %>
      <%#<p><b>Favorite Podcasts:</b> <%= @user.podcasts.count %>

      <% if @users.any? %>
        <div>
          <ul>
          <h3><%=@users.count%> <%= @title%>:</h3>
          <% @users.each do |user| %>
            <li><%= link_to baccano_for(user, size: 20), user %>
                <%= user.full_name %>
                <h3><ul><%= user.username%>'s Favorite Pods:</h3>
                  <% user.podcasts.each do |user_podcast|%>
                  <p> <%= link_to user_podcast.title, podcast_path(user_podcast.id)%>
                  <%end%>
                  </ul>
                <%= form_for current_user.active_follows.find_by(followed_id: user.id),
                             html: { method: :delete } do |f| %>
                  <%= f.submit "Unfollow" %>
                <% end %>
          <% end %>
            <ul>
          </div>
      <% else %>
        Not Following Anyone Currently!
      <% end %>

    <p><%= button_to "Return to My Profile", user_path(current_user), method: :get%>
