<h1 class="podcasts"><%=@podcast.title%></h1><br>
<h4 class="podcasts">Publisher:</h4><p class="podcasts"><%=@podcast.publisher%></p><br>
<h4 class="podcasts">Description:</h4><p class="podcasts"> <%=@podcast.description%></p><br>
<h4 class="podcasts">Total Episodes:</h4><p class="podcasts"> <%=@podcast.total_episodes%></li>

<li class="podcasts"><%=link_to "ListenNotes ", "#{@podcast.listennotes_url}", target: :_blank%></li><br>


<audio controls>
  <source src="https://instaud.io/3KA0"  type="audio/ogg">
  <source src="https://instaud.io/3KA0" type="audio/mpeg">
Your browser does not support the audio element.
</audio>

<br>
<br>
<% if !current_user.podcasts.include?(@podcast) %>
  <%= button_to 'Add to Favorites', {:controller => "favorites", :action => "create", :podcast_id => @podcast.id } , method: :post  %>
<% else %>
  <%= button_to 'Remove from Favorites', {:controller => "favorites", :action => "destroy", :podcast_id => @podcast.id }, method: :delete %>
<%end%>
