<br>
<br>
<h3><%=@podcast.title%><br></h3>
Publisher: <%=@podcast.publisher%><br>
Description: <%=@podcast.description%><br>
Listen: <%=link_to @podcast.listennotes_url%><br>
Total Episodes: <%=@podcast.total_episodes%>

<%# If current_user doesn't follow podcast %>
<% if !current_user.podcasts.include?(@podcast) %>
  <%= button_to 'Add to Favorites', {:controller => "favorites", :action => "create", :podcast_id => @podcast.id, :user_id=> session[:user_id]} , method: :post  %>
<% else %>
  <%= button_to 'Remove from Favorites', favorite_path, method: :delete %>
<%end%>

<%= button_to 'back', podcasts_path, :method => :get%>
