<h1 class="podcasts"><%=@podcast.title%></h1><br>
<li class="podcasts">Publisher: <%=@podcast.publisher%></li><br>
<li class="podcasts">Description: <%=@podcast.description%></li><br>
<li class="podcasts">Total Episodes: <%=@podcast.total_episodes%></li>
<li class="podcasts"><%=link_to "listen now", "#{@podcast.listennotes_url}", target: :_blank%></li><br>
<li class="podcasts">rss: <%=@podcast.rss%></li><br>
<br>
<br>
<% if !current_user.podcasts.include?(@podcast) %>
  <%= button_to 'Add to Favorites', {:controller => "favorites", :action => "create", :podcast_id => @podcast.id } , method: :post  %>
<% else %>
  <%= button_to 'Remove from Favorites', {:controller => "favorites", :action => "destroy", :podcast_id => @podcast.id }, method: :delete %>
<%end%>
